<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kubuy.seckill.mapper.SeckillMapper">
	<select id="findCurSeckillList" resultType="Seckill">
		select * from tb_seckill
		where start_time <![CDATA[<=]]> #{curTime}
		and end_time >= #{curTime}
	</select>
	
</mapper>